.App-header {
    background-color: rgba(16, 54, 136, 0.685);
    height: 120px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
  }
  
  .App-title {
    font-size: 30px;
  }
  
  .App-intro {
    font-size: large;
  }

  .App-logo {
    height: 100px;
    width: 100px;
  }

  

  
  
  