.App-home {
    border: 1px grey solid;
    padding: 10px;
    width: 55%;
}

.home-header {
    display: flex;
    background-color: rgba(16, 54, 136, 0.685);
    height: 30px;
    padding: 30px;
    color: white;
    font-size: 24px;
    align-content: center;
    justify-content: space-between;
}

.create-group{
    height: 40px !important;
    width: 40px !important;
    background-color: rgb(175, 33, 241) !important;
    color: white !important;
    border-radius: 90% !important;
     
}

.group-hover:hover {
    background-color: beige;
}

.admin-badge{
    background-color:rgb(81, 223, 81) !important;
    color:green !important;
    cursor: pointer !important;
}